{% extends 'bootstrap/base.html' %}
{%block content%}


<style type="text/css">
		body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
}
		.spinner-1:before{
			content: "";
			box-sizing: border-box;
			position: absolute;
			top:50%;
			left: 50%;
			height: 60px;
			width: 60px;
			margin-top: -30px;
			margin-left: -30px;
			border-radius: 50%;
			border:6px solid transparent;
			border-top-color: #0091EA;
			animation: spinner 0.7s linear infinite;
		}
		@keyframes spinner {
			to {
				transform: rotate(360deg);
			}

		}
		li { background-color:#E5F6F9; }
		li:nth-child(odd) { background-color:#ADE8F4; }
		</style>


    <div class="container">
      <div class="jumbotron text-center">
        <h2><img src="https://image.freepik.com/free-vector/cartoon-delivery-man-brings-goods-customer-from-laptop-vector-illustration-concept-with-online-shopping-services_46527-344.jpg" /></h2>

          <h2>Sentiment Analysis of Shopping Apps</h2>

      </div>
  </div>
  <div class="container">
    <form action="{{url_for('analyse')}}" method="POST" id = 'myForm'>
      <textarea name = "rawtext" rows="3" cols="3" class = "form-control">

      </textarea>
      <input type = "submit" name="" value="Submit" class = "btn btn-primary">
      <input type = "reset" name="" value="Clear" class = "btn btn-outline-primary">
      <a href="{{url_for('index')}}" type = "button" class = "btn btn-danger">Reset</a>


  </form>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><div class="alert alert-primary" role="alert">
  This text has {{number_of_tokens}} tokens with {{len_of_words}} important point
</div> </h5>
      <p style = "text-align:center"><font size="7" color="#2DC1DF"><b>{{result}}</b></font></p>
    <div class="card-text">
    	<h4>Original Text</h4>
    	{{ displaysen|markdown }}
    	<hr/>
<br/>
<p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} </span> seconds to analyse</p>
    <p>This text is about:</p>
		{%for i in final%}
    <p style = "text-align:center"><font size="5" color="#2DC1DF">{{i}}</font></p>
		{%endfor%}
    <p>Keywords</p>
        {%for i in summary%}
        <li>{{i}}</li>
        {%endfor%}
      </div>
      <table class="table table-striped table-dark" >
 <thead>
   <tr>
     <th scope="col">Sentiment</th>
     <th scope="col">Negative</th>
     <th scope="col">Positive</th>
     <th scope="col">Neutral</th>
     <th scope="col">Compound</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <th scope="row">Score:</th>
     <td>{{neg}}</td>
     <td>{{pos}}</td>
     <td>{{neu}}</td>
     <td>{{compound}}</td>
   </tr>
    </div>

  </div>


{% endblock %}
